@model ProjeCore.Models.Birim
@{
    ViewData["Title"] = "BirimGetir";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<br />

@using (Html.BeginForm("BirimGuncelle", "Default", FormMethod.Post)){
    <b>Сабак ID</b>
    @Html.TextBoxFor(x => x.BirimID, new { @class = "form-control" })
    <br>
    <b>Сабактын аты</b>
    @Html.TextBoxFor(x => x.BirimAd, new { @class="form-control" })
    <br />
    <button class="btn btn-default" style="background-color: #ebdede; color: black;">Өзгөртүүнү кошуу</button>
}
